*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: darkcyan;
}

.card{
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 0;
}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.calc-head #result{
    width: 335px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    padding: 0 5px;
    letter-spacing: 3px;
    text-align: right;
}

.calc-body .btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    color: white;

}

.calc-body .btn-style{
    background-color:#5F4BB6;

}

.calc-body .btn-style1{
    background-color: orange;
}

.btn:hover{
    background-color: pink;
}